<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/register.css">
    <title>Document</title>
</head>

<body>
    <header class="header" id="header_id">
        <nav class="nav">
            <div class="container nav-content d-flex justify-content-between align-center">
                <a href="./main.html" class="header-title__link">
                    <h2 class="nav-title">ICT <span class="header-span">center</span></h2>
                </a>
                <ul class="nav-list d-flex align-items-center m-0">
                    <li><a href="./main.html" class="nav-list__link">home</a></li>
                    <li><a href="./register.html" class="nav-list__link">register</a></li>
                    <li><a href="./group.html" class="nav-list__link">group</a></li>
                    <li><a href="./room.html" class="nav-list__link">room</a></li>
                </ul>
            </div>
        </nav>
        <div class="register-content">
            <form class="register">
                <h2 class="register-title">sing in</h2>
                <textarea class="massage" placeholder="Ismingiz, Familiyangiz, Raqamingiz"></textarea>
                <div class="content-bottom">
                    <button class="button">Send Massage</button>
                </div>
            </form>
        </div>
    </header>
</body>

</html>