* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

:root {
    --black: #000000;
    --OrangeColor: #ff8b38;
    --White: #ffffff;
    --bgcolor: #212529;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ========= Header ======== */
.header-title__link {
    color: #007BFF;
}

.header-title__link:hover {
    color: #0774e8;
}

.nav-list__link {
    text-decoration: none;
    color: var(--black);
    text-transform: capitalize;
    margin-left: 50px;
    font-weight: 500;
    font-size: 17px;
    line-height: 158%;
    color: #5A5B6A;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: 0.3s all linear;

    /* position: fixed; */
    bottom: -100%;
    right: 1.5rem;
}

.nav-list__link-active {
    bottom: 2rem;
    transform: 0.3s;
}

#teachers {
    transform: 0.3s;
    bottom: 2rem;
}

#teachers:hover {
    transform: 0.3s all linear;

}

.nav-list__link:hover {
    text-decoration: none;
    transform: rotateY(0deg);
    transform: 0.5s;
    color: var(--OrangeColor);
}

.nav-list__link::after {
    content: '';
    width: 100%;
    background: var(--OrangeColor);
    padding: 1px 0;
    transform: rotateY(90deg);
    transition: 0.5s;
}

.nav-list__link:hover::after {
    content: '';
    width: 100%;
    background: var(--OrangeColor);
    padding: 1px 0;
    transform: rotateY(10deg);
}

/* .nav-list__link:hover {
    text-decoration: none;
    color: var(--OrangeColor);
} */

.nav-title {
    margin: 0;
}

.nav {
    /* background: var(--SectionsBg); */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 14px 0;
    /* background: rgb(235, 232, 232); */
}

.nav-active {
    background: var(--SectionsBg);
    transition: 0.4s;
}

.header-title__img {
    width: max-content;
    height: max-content;
}

.element {
    font-size: 50px;
    line-height: 40px;
    color: var(--White);
    text-transform: uppercase;
    margin: 30px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 600;
    text-align: center;
}

/* .header-title::after {
    content: '';
    width: 64px;
    height: 2px;
    background: var(--White);
    margin-top: 40px;
} */

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-text {
    text-align: center;
    font-family: var(--RalLight);
    font-size: 16px;
    color: var(--White);
    font-weight: 500;
    line-height: 25px;
    margin-top: 45px;
}

#teachers {
    transition: 0.5s;
}

.header-span {
    color: #007BFF;
    font-weight: 500;
}

.header-link {
    display: inline-block;
    padding: 15px 70px;
    border: 2px solid var(--White);
    border-radius: 20px;
    font-size: 30px;
    color: var(--White);
    background: var(--White);
    color: black;
    border: 2px solid #9b9a9a;
    transition: 0.4s;
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--OpenSansSemBold);
}

.header-link:nth-of-type(1) {
    margin-right: 50px;
}

.header-link:hover {
    text-decoration: none;
    color: black;
    background: var(--White);
    box-shadow: 0 0 25px 1px var(--black);
    padding: 15px 72px;
}

.nav-content a:hover {
    text-decoration: none;
}

.header-content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.header-content {
    display: flex;
    flex-grow: 1;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 40px;
}

.header {
    display: flex;
    flex-direction: column;
}

.right-content {
    display: flex;
    justify-content: flex-end;
}

.header-bottom {
    margin-top: 30px;
}

/* ======== Room ======= */
.teble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    background: #212529;
    padding: 30px 50px 50px;
    height: max-content;
    color: #fff;
    border-radius: 5px;
}

.table-title {
    text-align: center;
    font-weight: 400;
    padding-top: 70px;
    text-transform: uppercase;
}

.table-tr {
    display: flex;
    border-radius: 5px;

}

.table-td {
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    width: 300px;
    padding: 10px 0;
    font-weight: 500;
    margin: 0;

    text-transform: capitalize;
}

.table-td:nth-of-type(1) {
    border-radius: 5px 0 0 0;
}

.table-td:nth-of-type(6) {
    border-radius: 0 5px 0 0;
}

.table-tr__two {
    display: flex;
    transition: 0.5s;

}

.table-tr__two:hover {
    text-decoration: none;
    color: var(--White);
    border-radius: 5px;

}
.table-td__two {
    display: flex;
    justify-content: center;
    width: 300px;
    padding-top: 25px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--White);
}
.table-td__two input{
    width: 15px;
}
.table-td__two:nth-of-type(3) {
    padding-top: 20px;
}

.table-td__two:nth-of-type(4) {
    padding-top: 20px;
}

/* ========= /Table ======== */
/* ======== /Room ======= */