<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/group.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="container nav-content d-flex justify-content-between align-center">
                <a href="./main.html" class="header-title__link">
                    <h2 class="nav-title">ICT <span class="header-span">center</span></h2>
                </a>
                <ul class="nav-list d-flex align-items-center m-0">
                    <li><a href="./main.html" class="nav-list__link">home</a></li>
                    <li><a href="./register.html" class="nav-list__link">register</a></li>
                    <li><a href="./group.html" class="nav-list__link">group</a></li>
                    <li><a href="./room.html" class="nav-list__link">room</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h2 class="table-title">Group</h2>
        <div class="teble">
                <a class="table-tr">
                    <p class="table-td">group</p>
                    <p class="table-td">room</p>
                    <p class="table-td">teacher</p>
                    <p class="table-td">student size</p>
                    <p class="table-td">time</p>
                    <p class="table-td">day</p>
                </a>
                <a href="./teachers.html" class="table-tr__two">
                    <p class="table-td__two">python</p>
                    <p class="table-td__two">1</p>
                    <p class="table-td__two">Akmal</p>
                    <p class="table-td__two">16</p>
                    <p class="table-td__two">15:30</p>
                    <p class="table-td__two">12</p>
                </a>
                <a href="" class="table-tr__two">
                    <p class="table-td__two">Javascript</p>
                    <p class="table-td__two">3</p>
                    <p class="table-td__two">Ali</p>
                    <p class="table-td__two">15</p>
                    <p class="table-td__two">17:30</p>
                    <p class="table-td__two">16</p>
                </a>
                <a href="" class="table-tr__two">
                    <p class="table-td__two">C++</p>
                    <p class="table-td__two">4</p>
                    <p class="table-td__two">Kamol</p>
                    <p class="table-td__two">16</p>
                    <p class="table-td__two">14:00</p>
                    <p class="table-td__two">15</p>
                </a>
                <a href="" class="table-tr__two">
                    <p class="table-td__two">Java</p>
                    <p class="table-td__two">2</p>
                    <p class="table-td__two">Ulug'bek</p>
                    <p class="table-td__two">17</p>
                    <p class="table-td__two">08:00</p>
                    <p class="table-td__two">10</p>
                </a>
            </div>
        </div>
    </header>
</body>

</html>