<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>

<body>
    <header class="header" id="header_id">
        <nav class="nav">
            <div class="container nav-content d-flex justify-content-between align-center">
                <a href="./main.html" class="header-title__link">
                    <h2 class="nav-title">ICT <span class="header-span">center</span></h2>
                </a>
                <ul class="nav-list d-flex align-items-center m-0">
                    <li><a href="#home" class="nav-list__link">home</a></li>
                    <li><a href="./register.html" class="nav-list__link">register</a></li>
                    <li><a href="./group.html" class="nav-list__link">group</a></li>
                    <li><a href="./room.html" class="nav-list__link">room</a></li>
                </ul>
            </div>
        </nav>
        <div class="header-content" id="home">
            <div class="container ">
                <div class="left-content col-xxl-6">
                    <div class="">
                        <h1 class="element"></h1>
                        <p class="header-text col-xxl-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Necessitatibus totam, in assumenda perspiciatis incidunt, laudantium minima inventore esse
                            placeat ex exercitationem, tempore ea sapiente voluptatem! Consequatur facere quo animi
                            perspiciatis?</p>
                    </div>
                    <div class="header-bottom d-flex justify-content-between">
                        <a href="./student_size.html" class="header-link">students</a>
                        <a href="./group.html" class="header-link">teachers</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="./scripts/typed.js"></script>
    <script src="./scripts/scripts.js"></script>
</body>

</html>