<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/room.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="container nav-content d-flex justify-content-between align-center">
                <a href="./main.html" class="header-title__link">
                    <h2 class="nav-title">ICT <span class="header-span">center</span></h2>
                </a>
                <ul class="nav-list d-flex align-items-center m-0">
                    <li><a href="./main.html" class="nav-list__link">home</a></li>
                    <li><a href="./register.html" class="nav-list__link">register</a></li>
                    <li><a href="./group.html" class="nav-list__link">group</a></li>
                    <li><a href="./room.html" class="nav-list__link">room</a></li>
                </ul>
            </div>
        </nav>
        <section class="room-content">
            <div class="container">
                <h2 class="table-title">Room</h2>
                <div class="teble">
                    <div class="table-tr">
                        <p class="table-td">xona</p>
                        <p class="table-td">Oquvchilar soni</p>
                        <p class="table-td">Boshlanish vaqti</p>
                        <p class="table-td">Tugash vaqti</p>
                    </div>
                    <div class="table-tr__two">
                        <p class="table-td__two">Birinchi xona</p>
                        <p class="table-td__two">17</p>
                        <p class="table-td__two">15:00</p>
                        <p class="table-td__two">17:00</p>
                    </div>
                    <div class="table-tr__two">
                        <p class="table-td__two">Ikkinchi xona</p>
                        <p class="table-td__two">14</p>
                        <p class="table-td__two">09:30</p>
                        <p class="table-td__two">11:30</p>
                    </div>
                    <div class="table-tr__two">
                        <p class="table-td__two">Uchinchi xona</p>
                        <p class="table-td__two">9</p>
                        <p class="table-td__two">13:00</p>
                        <p class="table-td__two">15:00</p>
                    </div>
                    <div class="table-tr__two">
                        <p class="table-td__two">To'rtinchi xona</p>
                        <p class="table-td__two">10</p>
                        <p class="table-td__two">17:30</p>
                        <p class="table-td__two">19:30</p>
                    </div>
                </div>
            </div>
        </section>
    </header>
</body>

</html>